.button {
  background-color: var(--red);
  margin-block: 5vmin;
  border: 3px solid var(--red-dark);
}

.button:hover {
  background-color: var(--red);
  margin-block: 5vmin;
  border: 3px solid var(--red-dark);
}

.button:active {
  background-color: var(--red-dark) !important;
  border-color: var(--red-dark) !important;
}
