body {
  --red: hsl(347, 100%, 38%);
  --red-bright: hsl(347, 100%, 58%);
  --red-dark: hsl(347, 100%, 18%);
  --grey: rgb(99, 99, 99);
  --text-color: white;

  margin: 0;

  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
